In [1]:
import pandas as pd
import numpy as np

In [2]:
index = ['Firefox', 'Chrome', 'Safari','IE10']
df = pd.DataFrame({'http' :[200, 404, 450, 301],
                   'time':[0.04, 0.02, 0.08, 0.02]}, index = index)
df

         http  time
Firefox   200  0.04
Chrome    404  0.02
Safari    450  0.08
IE10      301  0.02

# index

In [6]:
df.index[-1]

'IE10'

# Reindex

In [7]:
df

         http  time
Firefox   200  0.04
Chrome    404  0.02
Safari    450  0.08
IE10      301  0.02

In [8]:
df.reindex(['Chrome','Safari','IE10', 'Firefox'])

         http  time
Chrome    404  0.02
Safari    450  0.08
IE10      301  0.02
Firefox   200  0.04

In [11]:
df.reindex(['Chrome','Safari','IE10', 'a'], fill_value='missing')

           http     time
Chrome      404     0.02
Safari      450     0.08
IE10        301     0.02
a       missing  missing

# Setindex

In [14]:
df

         http  time
Firefox   200  0.04
Chrome    404  0.02
Safari    450  0.08
IE10      301  0.02

In [13]:
df.set_index(pd.Index(['a','b','c','d']))

   http  time
a   200  0.04
b   404  0.02
c   450  0.08
d   301  0.02

In [15]:
df.set_index(pd.RangeIndex(0,4))

   http  time
0   200  0.04
1   404  0.02
2   450  0.08
3   301  0.02

In [16]:
df.set_index(pd.Index(['a']))

ValueError: Length mismatch: Expected 4 rows, received array of length 1

# Rename

In [18]:
df.rename(index={'Firefox':'A','Chrome':'B'})

        http  time
A        200  0.04
B        404  0.02
Safari   450  0.08
IE10     301  0.02

In [21]:
df = df.rename(columns={'http':'H'})
df

           H  time
Firefox  200  0.04
Chrome   404  0.02
Safari   450  0.08
IE10     301  0.02

In [22]:
df

           H  time
Firefox  200  0.04
Chrome   404  0.02
Safari   450  0.08
IE10     301  0.02