In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('weather.csv')
df

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
0,0.00,2016-01-03,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,39,46,32,33,4.33
1,0.00,2016-01-03,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,39,47,31,32,3.86
2,0.16,2016-01-03,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,46,51,41,35,9.73
3,0.00,2016-01-03,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,45,52,38,32,6.86
4,0.01,2016-01-03,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,34,38,29,19,7.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16738,0.08,2017-01-01,1,1,2017,Casper,CPR,"Casper, WY",Wyoming,23,32,15,23,19.98
16739,0.00,2017-01-01,1,1,2017,Cheyenne,CYS,"Cheyenne, WY",Wyoming,32,42,21,26,15.16
16740,0.00,2017-01-01,1,1,2017,Lander,LND,"Lander, WY",Wyoming,17,29,4,26,1.65
16741,0.06,2017-01-01,1,1,2017,Rawlins,RWL,"Rawlins, WY",Wyoming,23,31,13,24,18.16
16742,0.10,2017-01-01,1,1,2017,Sheridan,SHR,"Sheridan, WY",Wyoming,21,34,8,23,7.51

In [15]:
S1 = pd.Series([[1,2,4,5,6],[3]])
S1

0    [1, 2, 4, 5, 6]
1                [3]
dtype: object

## shape

In [4]:
df.shape

(16743, 14)

In [6]:
df.shape[1]

14

In [7]:
rows,columns = df.shape
print(rows)
print(columns)

16743
14

In [16]:
S1

0    [1, 2, 4, 5, 6]
1                [3]
dtype: object

In [17]:
S1.shape

(2,)

In [11]:
S1[1]

[3, 4]

## size

In [18]:
df.size

234402

In [19]:
df.shape[0]*df.shape[1]

234402

In [21]:
S1

0    [1, 2, 4, 5, 6]
1                [3]
dtype: object

In [20]:
S1.size

2

## ndim

In [22]:
df.ndim

2

In [23]:
S1.ndim

1