In [1]:
import pandas as pd
import numpy as np

In [2]:
#series

In [7]:
data = np.array([1,2,3])
s1 = pd.Series(data = data, name = 'series1', index = ['a','b','c'])
s1

a    1
b    2
c    3
Name: series1, dtype: int32

In [9]:
pd.DataFrame([s1])

         a  b  c
series1  1  2  3

In [10]:
# indexs

In [14]:
ind1 = pd.RangeIndex(100, 104)

In [21]:
arr = [[1,2,3,4],['a','b','c','d']]
ind2 = pd.MultiIndex.from_arrays(arr, names=['index1', 'index2'])
ind2

MultiIndex([(1, 'a'),
            (2, 'b'),
            (3, 'c'),
            (4, 'd')],
           names=['index1', 'index2'])

In [22]:
df1 = pd.DataFrame({'car':['BMW1','BMW2','BMW3','BMW4'],
                   'name':['Jack1','Jack2','Jack3','Jack4']}, index =ind2)
df1

                car   name
index1 index2
1      a       BMW1  Jack1
2      b       BMW2  Jack2
3      c       BMW3  Jack3
4      d       BMW4  Jack4

In [19]:
df1.index

MultiIndex([(1, 'a'),
            (2, 'b'),
            (3, 'c'),
            (4, 'd')],
           )

In [25]:
ind3 = pd.MultiIndex.from_tuples(((1,2),(2,'K'),('n',5),(4,6)), names = ['ind1', 'ind2'])
df1 = pd.DataFrame({'car':['BMW1','BMW2','BMW3','BMW4'],
                   'name':['Jack1','Jack2','Jack3','Jack4']}, index =ind3)
df1

            car   name
ind1 ind2
1    2     BMW1  Jack1
2    K     BMW2  Jack2
n    5     BMW3  Jack3
4    6     BMW4  Jack4

In [27]:
df1.set_index(ind2)

                car   name
index1 index2
1      a       BMW1  Jack1
2      b       BMW2  Jack2
3      c       BMW3  Jack3
4      d       BMW4  Jack4